@import "materialize";

body {
  background-color: #fafafa;
  padding-bottom: -160px;
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.content {
  border-radius: 2px;
  padding: 40px;
  max-width: 700px;
  margin: 0 auto;
}


footer {
  .row {
    margin: 0;
  }
  .row:last-child {
    margin-bottom: 20px;
  }
  position: relative;
  top: 80px;
  text-align: center;
  width: 100%;
  color: #a6a6a6;
}

.logo {
  margin: 60px auto;
  margin-top: 10px;
  display: block;
}

form {
  margin-top: 30px;
}

.btn:hover, .btn {
  height: 55px;
  color: #b9b9b9;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  box-shadow: none;
}

input[type=checkbox] {
  background-color: #b9b9b9;
  border: #ebebeb;
}

input[type=submit], input[type=text] {
  width: 100%;
  padding-left: 20px;
  border-radius: 3px;
  height: 55px;
  font-size: 16px;
  background-color: #fcfcfc;
  border: 1px solid #ebebeb;
}

input[type=search] {
  background-color: white;
  border: 1px solid #e6e6e6;
  background-color: #fbfbfb;
  border-radius: 5px;
}

.disabled {
  background-color: #fcfcfc;
  color: #999da0;
}

.corner-icon, .contact {
  color: #a6a6ad;  
  text-decoration: underline;
}

.result {
  border: 1px solid #e6e6e6;
  padding: 15px;
  line-height: 20px;  
  margin: 10px 0;
}

.subtext {
  color: #b3b3bc;
}

.page-icon {
  color: #b3b3b3;
  padding: 10px;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin: 2px;
  font-size: 12px;
}

.page-icon.active {
  background-color: #fcfcfc;
  color: #333a40;
}

.back {
  border: none;
  color: #ececec;
}

.next {
  border: none;
  opacity: 0.8;
}

.icons {
  text-align: center;
}

.loading-text {
  z-index: 1;
  position: absolute;
  display: none;
  height: 70%;
  padding-top: 20%;
  width: 90%;
  text-align: center;
}

.loading {
  .comments {
    opacity: 0.3;  
  }
  .loading-text {
      display: block;
  }
}

.completion {
  position: relative;
  top: 25px;
}